[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
attrdict = "*"
boto3 = "*"
pytest = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
sphinx_sitemap = "*"

[packages]
boto3 = "*"
