alabaster
ApiDoc
autodoc
Babel
beautifulsoup4
boto3
botocore
certifi
chardet
decorator
docutils
idna
imagesize
Jinja2
jmespath
jsonschema
MarkupSafe
packaging
Pygments
pyparsing
python-dateutil
pytz
PyYAML
requests
s3transfer
six
snowballstemmer
Sphinx
sphinxcontrib-websupport
sphinx-sitemap
urllib3
waitress
WebOb
WebTest
